SIGFOX_CALLBACK_TOKEN=cambia-este-token
CORS_ORIGIN=*
DEVICE_ENCB_PRINCIPAL=3DFF9D
DEVICE_ENCB_SECUNDARIA=429246
DEVICE_ENCB_INTERIOR=3DEB72
DEVICE_ESIME_CENTRAL=SIGFOX_DEVICE_ID_4
DEVICE_ESIME_SECUNDARIA=SIGFOX_DEVICE_ID_5
RETENTION_DAYS=30
