SIGFOX_CALLBACK_TOKEN=cambia-este-token
CORS_ORIGIN=*
DEVICE_ENCB_PRINCIPAL=SIGFOX_DEVICE_ID_1
DEVICE_ENCB_SECUNDARIA=SIGFOX_DEVICE_ID_2
DEVICE_ENCB_INTERIOR=SIGFOX_DEVICE_ID_3
DEVICE_ESIME_CENTRAL=SIGFOX_DEVICE_ID_4
DEVICE_ESIME_SECUNDARIA=SIGFOX_DEVICE_ID_5
